  <h1> <span class="name">Nya's</span> To Do List</h1>
        <ul> 
            <a href="/todo/show/1">
               <li> 
                   <input type="checkbox">
                   do homework
               </li>
            </a>
            <a href="/todo/show/2">
            <li>
                  <input type="checkbox">
                  take out trash
             </li>
             </a>
             <a href="/todo/show/3">
            <li>
                <input type="checkbox">
                wash clothes
            </li>
            </a>
            <a href ="show4.html">
            <li>
                <input type="checkbox">
                study
            </li> 
            </a>
            <li>
                <a href ="show5.html">
                  <input type="checkbox">
                    eat dnner
            </li>
            </a>
            <a href ="show6.html">
            <li>
                <input type="checkbox">
                    fold clothes
            </li>
            </a>
         </ul>
         <input class="form-field" type="text" placeholder="add a todo"> 
         <input class="form-field" type="number" placeholder="promodo estimate">
         <input class="form-field" type="submit" value="Add">